<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HPF_eComm_Demo.Properties.Settings.CustomerDBSQL"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CustomerDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode ="2.0"/>
      <pages validateRequest="false"/>
    </system.web>

</configuration>
